<!DOCTYPE html>
<html>
<head>
	<style>
		table,th,td{
			border: 1px solid black;
			border-collapse: collapse;
		}
		
	</style>
</head>
<body>
	<h1>your details</h1>
	<table style="width: 50%">
		<tr>
			<th>first name</th>
			<th>{{fname}}</th>
		</tr>
		<tr>
			<th>middle name</th>
			<th>{{mname}}</th>
		</tr>
		<tr>
			<th>last name</th>
			<th>{{lname}}</th>
		</tr>
		<tr>
			<th>gender</th>
			<th>{{gender}}</th>
		</tr>
		
		
		<tr>
			<th>age</th>
			<th>{{age}}</th>
		</tr>
		
	
		<tr>
			<th>mobile number</th>
			<th>{{number}}</th>
			
		</tr>
		<tr>
			<th>date of birth</th>
			<th>{{db}}</th>
		</tr>
		<tr>
			<th>address</th>
			<th>{{address}}</th>
		</tr>
		<tr>
			<th>Qualification</th>
			<th>{{Qualification}}</th>
		</tr>
		<tr>
			<th>uploaded image name</th>
			<th>{{image}}</th>
		</tr>
	</table>
	<h1>Thank you......</h1>
	<h2>have a great day</h2>
</body>

<a href=/>back to login page</a>

</html>
